<header class="post-header">
  <h1 class="post-title" itemprop="name headline">{{yield}}</h1>
  <p class="post-meta"><time datetime="{{jsonFormattedDate}}" itemprop="datePublished">{{displayFormattedDate}}</time></p>
</header>
