.MarkdownEditorComponent {
  .content-editor:focus {
    width: 100%;
    outline: none;
  }
  .content-editor--hidden {
    display: none;
  }
  .toggle-button--active {
    font-weight: bold;
  }
}
