.MarkdownEditorComponent {
  .content-editor:focus {
    outline: none;
  }
  .toggle-button--active {
    font-weight: bold;
  }
  .panel {
    display: inline-block;
    vertical-align: top;
  }
  .markdown-input:not(:empty) {
    color: #FFFFFF;
  }
  .markdown-input {
    background-color: #666666;
    min-height: 300px;
  }
}
